// ------------------------------------------------------------------
// Cards
// ------------------------------------------------------------------

ul.cards {
    li {
        // Config
        $card-height: 17em;
        $card-header-height: 4.5em;

        float: left;
        width: 30%;
        margin-left: 2%;
        height: $card-height;

        h3 {
            line-height: 1em;
            margin-top: $card-header-height + 3em;
            padding-bottom: 1em;
            text-align: center;
            font-weight: bold;
            color: white;
        }

        p {
            margin-top: -0.7em;
            height: $card-height - $card-header-height - 3em;
            padding: 0.7em 1em 0 1em;
            line-height: 1.5em;
            font-size: 0.75em;
            color: $grey;
            text-align: justify;
            border: 1px solid lighten($grey, 30%);
            border-top: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        // Marker
		&::before {
            z-index: -1;
			position: absolute;
			left: 0;
            top: 0;
			height: $card-header-height;
			width: 100%;
			text-align: center;
            font-size: 2em;
            line-height: 4em;
            background-color: $theme-color;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: none;
			color: white;
            font-weight: bold;
		}
    }

    li:first {
        margin-left: 0;
    }
}

ul.cards.horizontal {
    li {
        // Config
        $card-height: 5em;

        width: 100%;
        padding: 0.5em 1em 0.5em 6em;
        margin: 0 0 1em 0;
        height: $card-height;
        background-color: lighten($grey, 55%);
        float: none;
        
        h3 {
            margin: 0;
            padding:0;
            text-align: left;
            line-height: 1em;
            font-weight: bold;
            color: $grey;
        }

        p {
            margin: 0;
            padding: 0;
            height: auto;
            line-height: 1.5em;
            font-size: 0.75em;
            color: $grey;
            border: none;
        }

        // Marker
		&::before {
            $scale: 2.5;

            z-index: 1;
			position: absolute;
			left: 0;
            top: 0;
			height: $card-height/$scale;
			width: $card-height/$scale;
			text-align: center;
            font-size: 1em * $scale;
            line-height: $card-height/$scale;
            background-color: $theme-color;
            border: none;
            border-radius: 0;
			color: white;
            font-weight: bold;
		}
    }
}