// ------------------------------------------------------------------
// Slide
// ------------------------------------------------------------------
// 1. Background ....... Slide background style
// 2. Number ........... Page number
// 3. Content .......... Various content types
// 4. Modifiers......... Slide modifiers
// 5. Elements ......... Content elements
// ------------------------------------------------------------------

.slide {
	// Config
	$header-height: 125px;
	$theme-color: #0071c6;

	position:relative;
	z-index:1;
	overflow:hidden;
	padding:150px 100px 0;
	width:$width;
	height:$height;
	background:#FFF;
	font-size:25px;

	// Background
	&::before {
		content: '';
		display: block;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $header-height;
		background-color: $theme-color;
		}

	&.cover::before {
		content: none;
	}

	// Number

	&::after {
		position:absolute;
		bottom:15px;
		right:100px;
		color:#585a5e;
		font-weight: bold;
		counter-increment:slide;
		content:counter(slide);
		text-align:right;
		}

	// Content

	@import
		'content/basic',
		'content/inline',
		'content/quote',
		'content/lists',
		'content/table',
		'content/code',
		'content/footer',
		'content/cards';

	// Modifiers

	@import
		'modifiers/grid',
		'modifiers/black',
		'modifiers/white',
		'modifiers/clear';

	// Elements

	@import
		'elements/columns',
		'elements/shout',
		'elements/cover',
		'elements/place';

	}
